
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using GeolabPortfolio.Models;
@using GeolabPortfolio.ViewModels;
@model AuthorDetailsViewModel

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        დეტალურად Geolab-ელი
    </div>
    <div class="card-body">
        <div class="col-md-12">

            <a href="~/Project/Create" class="btn btn-danger" style="margin-bottom:10px;">ახალი პროექტი</a>

            <table class="table table-bordered">
                <tr>
                    <td>Id</td>
                    <td>@Model.author.Id</td>
                </tr>
                <tr>
                    <td>სახელი</td>
                    <td>@Model.author.FirstName</td>
                </tr>
                <tr>
                    <td>გვარი</td>
                    <td>@Model.author.LastName</td>
                </tr>
                <tr>
                    <td>ელ.ფოსტა</td>
                    <td>@Model.author.Email</td>
                </tr>
                <tr>
                    <td>სურათი</td>
                    <td>
                        <img src="~/Content/Uploads/@Model.author.Image" class="img-thumbnail" style="width:100px;" />
                    </td>
                </tr>

                <tr>
                    <td>
                        ლინკები
                    </td>
                    <td>

                        @if (Model.author.GithubLink != null)
                        {
                            <a href="@Model.author.GithubLink" class="btn btn-danger" target="_blank">
                                <i class="fab fa-github"></i> Github
                            </a>
                        }

                        @if (Model.author.LinkedinLink != null)
                        {
                            <a href="@Model.author.LinkedinLink" class="btn btn-primary" target="_blank">
                                <i class="fab fa-linkedin"></i> Linkedin
                            </a>
                        }

                        @if (Model.author.DribbleLink != null)
                        {
                            <a href="@Model.author.DribbleLink" class="btn btn-success" target="_blank">
                                <i class="fab fa-dribbble"></i> Dribble
                            </a>
                        }

                        @if (Model.author.BehanceLink != null)
                        {
                            <a href="@Model.author.BehanceLink" class="btn btn-info" target="_blank">
                                <i class="fab fa-behance"></i> Behance
                            </a>
                        }


                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>