
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using GeolabPortfolio.ViewModels
@using GeolabPortfolio.Models;
@model EditAuthorViewModel


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        ჯეოლაბელის რედაქტირება
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <form action="~/Author/Edit" method="post" enctype="multipart/form-data">

                <input type="hidden" value="@Model.Id" name="Id" />

                @Html.ValidationSummary()
 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">სახელი</label>
                        <input type="text" class="form-control" name="FirstName" placeholder="სახელი" value="@Model.FirstName">
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">გვარი</label>
                        <input type="text" class="form-control" name="LastName" placeholder="გვარი" value="@Model.LastName">
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">ელ.ფოსტა</label>
                        <input type="text" class="form-control" name="Email" placeholder="ელ ფოსტა" value="@Model.Email">
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">სურათი</label>
                        <input type="file" name="Image" value="@Model.Image" class="form-control">
                        @Html.ValidationMessageFor(x => x.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Github</label>
                        <input type="text" class="form-control" name="GithubLink" placeholder="Github" value="@Model.GithubLink">
                        @Html.ValidationMessageFor(x => x.GithubLink, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Linkedin</label>
                        <input type="text" class="form-control" name="LinkedinLink" placeholder="Linkedin" value="@Model.LinkedinLink">
                        @Html.ValidationMessageFor(x => x.LinkedinLink, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Dribble</label>
                        <input type="text" class="form-control" name="DribbleLink" placeholder="Dribble" value="@Model.DribbleLink">
                        @Html.ValidationMessageFor(x => x.DribbleLink, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Behance</label>
                        <input type="text" class="form-control" name="BehanceLink" placeholder="Behance" value="@Model.BehanceLink">
                        @Html.ValidationMessageFor(x => x.BehanceLink, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-now">
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn btn-danger" value="შენახვა"/>
                    </div> 
                </div>
            </form>
        </div>

    </div>
</div>

